## Pandas 학습

### 라이브러리 추가

```python
!pip install pandas
```

- Successfully Installed...: 최초 설치
- Requiremnet already satisfied...: 이미 설치됨

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\dev\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### 판다스 라이브러리 로딩
```python
import pandas as pd
```

In [2]:
import pandas as pd

### 판다스 기본
#### DataFrame 객체
- 파이썬 2차원 리스트(배열)와 동일
- 행(row) 각 하나의 유니크 데이터묶음
- 열(column) 유니크 데이터의 하나하나의 특성

In [3]:
## 딕셔너리로 DataFrame 객체 생성
data = {'이름': ['강소이','홍길동','애슐리'],'나이':[47,20,40],'결혼':[True,False,True]}
df = pd.DataFrame(data=data)
df

    이름  나이     결혼
0  강소이  47   True
1  홍길동  20  False
2  애슐리  40   True

In [4]:
## 2차원 리스트 생성
data = [['강소이',27,'부산','soe0309@naver.com',True], ['홍길동',20,'서울','hgd@gmail.com',False],
        ['애슐리',40,'경기','ashley@nate.com',True],['홍길순',18,'서울','hgs@daum.net',False]]

data

[['강소이', 27, '부산', 'soe0309@naver.com', True],
 ['홍길동', 20, '서울', 'hgd@gmail.com', False],
 ['애슐리', 40, '경기', 'ashley@nate.com', True],
 ['홍길순', 18, '서울', 'hgs@daum.net', False]]

In [5]:
## 2차원 리스트로 DataFrame 객체 생성
df = pd.DataFrame(data=data, columns= ['이름','나이','주소','이메일','결혼'])
df

    이름  나이  주소                이메일     결혼
0  강소이  27  부산  soe0309@naver.com   True
1  홍길동  20  서울      hgd@gmail.com  False
2  애슐리  40  경기    ashley@nate.com   True
3  홍길순  18  서울       hgs@daum.net  False

In [6]:
## DataFrame에서 데이터 조회(열) - 리스트는 for 문을 써야지 출력가능
df['이름']

0    강소이
1    홍길동
2    애슐리
3    홍길순
Name: 이름, dtype: object

In [7]:
df[['나이']]

   나이
0  27
1  20
2  40
3  18

In [8]:
## 데이터프레임 조회(두개 열)
df[['이름','나이']]

    이름  나이
0  강소이  27
1  홍길동  20
2  애슐리  40
3  홍길순  18

In [9]:
## 데이터프레임 행으로 조회
df.loc[0]

이름                   강소이
나이                    27
주소                    부산
이메일    soe0309@naver.com
결혼                  True
Name: 0, dtype: object

In [10]:
## 데이터 프레임 조회(행)
df.loc[[1,3]]

    이름  나이  주소            이메일     결혼
1  홍길동  20  서울  hgd@gmail.com  False
3  홍길순  18  서울   hgs@daum.net  False

In [11]:
# 현재 데이터프레임 확인
df

    이름  나이  주소                이메일     결혼
0  강소이  27  부산  soe0309@naver.com   True
1  홍길동  20  서울      hgd@gmail.com  False
2  애슐리  40  경기    ashley@nate.com   True
3  홍길순  18  서울       hgs@daum.net  False

In [12]:
## 새 컬럼 추가
df['전번'] = ['010','011','017','019']

In [13]:
# 추가된 데이터프레임 확인
df

    이름  나이  주소                이메일     결혼   전번
0  강소이  27  부산  soe0309@naver.com   True  010
1  홍길동  20  서울      hgd@gmail.com  False  011
2  애슐리  40  경기    ashley@nate.com   True  017
3  홍길순  18  서울       hgs@daum.net  False  019

In [14]:
## 열 삭제, axis=0(행),1(열)
df.drop('결혼',axis=1)

    이름  나이  주소                이메일   전번
0  강소이  27  부산  soe0309@naver.com  010
1  홍길동  20  서울      hgd@gmail.com  011
2  애슐리  40  경기    ashley@nate.com  017
3  홍길순  18  서울       hgs@daum.net  019

In [15]:
## drop()은 삭제하고 출력만 해줌. 완전히 삭제하려면 inplace 옵션을 사용
# inplace를 화면에 출력안됨
df.drop('결혼',axis=1,inplace=True) # 열로 삭제하려면 axis=1 만 사용

In [16]:
# 삭제를 확인
df

    이름  나이  주소                이메일   전번
0  강소이  27  부산  soe0309@naver.com  010
1  홍길동  20  서울      hgd@gmail.com  011
2  애슐리  40  경기    ashley@nate.com  017
3  홍길순  18  서울       hgs@daum.net  019

In [17]:
## 행추가
df.loc[4] = ['손흥민',32,'런던','shm@gmail.com','020']

In [18]:
df

    이름  나이  주소                이메일   전번
0  강소이  27  부산  soe0309@naver.com  010
1  홍길동  20  서울      hgd@gmail.com  011
2  애슐리  40  경기    ashley@nate.com  017
3  홍길순  18  서울       hgs@daum.net  019
4  손흥민  32  런던      shm@gmail.com  020

In [19]:
## 행삭제, 완전히 삭제하려면 inplace쓰거나 아니면 다른 변수에 재할당
df2 = df.drop(3)

In [20]:
## 행삭제 inplace, 행삭제 시는 axis=0만 사용 또는 생략
df.drop(2, axis=0, inplace=True)

In [21]:
df

    이름  나이  주소                이메일   전번
0  강소이  27  부산  soe0309@naver.com  010
1  홍길동  20  서울      hgd@gmail.com  011
3  홍길순  18  서울       hgs@daum.net  019
4  손흥민  32  런던      shm@gmail.com  020

In [22]:
## 열 이름을 변경
df.rename(columns={'전번':'휴대폰'},inplace=True)

In [23]:
df

    이름  나이  주소                이메일  휴대폰
0  강소이  27  부산  soe0309@naver.com  010
1  홍길동  20  서울      hgd@gmail.com  011
3  홍길순  18  서울       hgs@daum.net  019
4  손흥민  32  런던      shm@gmail.com  020

- 데이터프레임은 파이썬의 2차원 리스트와 동일하지만, 좀 더 사용하기 쉽도록 만든 클래스

#### 시리즈 객체
- 파이썬에서 1차원 리스트(배열)
- 시리즈들 그루핑한게 데이터 프레임
- 가장 최소 단위

In [24]:
data = [47,20,40,18,32]
srs = pd.Series(data=data)
srs

0    47
1    20
2    40
3    18
4    32
dtype: int64

In [25]:
## 데이터프레임의 한 열을 가지고 온 자료구조와 시리즈는 동일
type(df['나이'])

pandas.core.series.Series

In [26]:
type(srs)

pandas.core.series.Series

In [27]:
srs = pd.Series(data=data,index=['강소이','홍길동','애슐리','홍길순','손흥민'])
srs

강소이    47
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [28]:
## 조회
srs['강소이']

47

In [29]:
## 값 변경
srs['강소이'] = 48

In [30]:
srs

강소이    48
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [31]:
## 데이터프레임에서 한 행을 가져와도 시리즈
df.loc[1]

이름               홍길동
나이                20
주소                서울
이메일    hgd@gmail.com
휴대폰              011
Name: 1, dtype: object

#### 데이터프레임 사용하기

- CSV, 엑셀파일 로드
- VS Code 플러그인, GrapeCity의 Excel Viewer
- 엑셀파일 로드할 때는 openpyxl 라이브러리를 추가 설치
> !pip install openpyxl

In [41]:
## CSV 로드
df_csv = pd.read_csv('./data/sample_1.csv',encoding='utf-8', header=1, skipfooter=2,usecols=[0,1,3])
df_csv

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7696\1884305249.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_csv = pd.read_csv('./data/sample_1.csv',encoding='utf-8', header=1, skipfooter=2,usecols=[0,1,3])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x85 in position 11: invalid start byte

In [33]:
# openpyxl 설치
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 393.8 kB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [ ]:
## 엑셀로드
# df_xls = pd.read_excel('./data/sample_1.xlsx', header=1, skipfooter=2, usecols='A:C',sheet_name='Sheet1')
df_xls = pd.read_excel('./data/sample_1.xlsx', header=1, skipfooter=2, usecols='A:C',sheet_name='Sheet1')
df_xls

- 엑셀, csv는 동일한 데이터라면 csv가 훨씬 용량이 적다

In [36]:
## DF 정보확인
df_csv.info()

NameError: name 'df_csv' is not defined

In [37]:
## 데이터 일부 보기(위에서 부터 n=5개 기본)
df_csv.head(n=3)

NameError: name 'df_csv' is not defined

In [38]:
## 데이터 일부 보기(아래에서 부터 n=5)
df_csv.tail(n=3)

NameError: name 'df_cvs' is not defined

In [39]:
## 통계량 요약보기
df_csv.describe()

NameError: name 'df_csv' is not defined

In [ ]:
df_csv['기준년월'] = ['2023-10','2023-11','2023-12','2024-01','2024-02','2024-03']

In [40]:
df_csv

NameError: name 'df_csv' is not defined

In [ ]:
## 하나의 데이터로
df_csv['기준년월'] = '2023-12'

In [ ]:
df_csv.loc[[0,1,2]]