## 빅데이터 실습

### 데이터 포털 Open API 활용

#### 데이터 수집

##### Open API
- 한국관광공사 관광빅데이터 정보서비스 GW
    - 기본 URL : http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList? 
        -https로 서비스 요청하면 ssl관련 오류 발생!!
    - 서비스키 : vB779XLk9sWsO1uItIGMpdEUEv%2ByFZo7Upbko4nFNThP3swetHCCnKxuTXruaG5Z4opYCu%2BXAXGEUepvwmtmWA%3D%3D
    - 파라미터(?뒤에 들어가는 여러가지 옵션값)
        - serviceKey = 본인 서비스키 (encoding)
        - numOfRows = 한페이지에 나타낼 결과 수 ( 10기본 60으로 하면 하루치 전부다 가져올 수 있음)
        - pageNo = 페이지 번호(1)
        - MobileOS = IOS, AND, WIN, ETC(기타)
        - startYmd = 시작일자
        - endYmd = 종료일자
        - MobileApp = AppTest

In [32]:
## 필요 라이브러리 사용등록
import requests
import json
import xmltodict
import pandas as pd

##### 추가모듈
- XML을 딕셔너리로 한번 바꿔주는 모듈
- xmltodict
```
!pip install xmltodict
```

In [30]:
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl.metadata (7.7 kB)
Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [13]:
# 서비스키
serviceKey = r'vB779XLk9sWsO1uItIGMpdEUEv%2ByFZo7Upbko4nFNThP3swetHCCnKxuTXruaG5Z4opYCu%2BXAXGEUepvwmtmWA%3D%3D'

In [26]:
# 기준날짜
ymd = '20231201'

In [28]:
# 필요 URL 생성
baseUrl = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?'
parameter = 'numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&' +\
            f'serviceKey={serviceKey}&startYmd={ymd}&endYmd={ymd}'
totalUrl = baseUrl + parameter
totalUrl

'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&serviceKey=vB779XLk9sWsO1uItIGMpdEUEv%2ByFZo7Upbko4nFNThP3swetHCCnKxuTXruaG5Z4opYCu%2BXAXGEUepvwmtmWA%3D%3D&startYmd=20231201&endYmd=20231201'

In [33]:
# 실행 테스트
# res.status_code : 200(OK) or 404/500 | res.text(str) / res.content(byte)
res = requests.get(totalUrl)
res.status_code
res.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header>\n  <resultCode>0000</resultCode>\n  <resultMsg>OK</resultMsg>\n</header><body><items>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>4603042.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>1448384.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>30583.54999999999</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1583729.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>323697.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>8219.360000000004</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1206880.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>238301.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>1004.25</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>28</areaCode>\n    <areaNm>인천광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1364107.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n</items>  <numOfRows>10</numOfRows>\n  <pageNo>1</pageNo>\n  <totalCount>51</totalCount>\n</body></response>'

In [36]:
## openapi로 넘어온 text(xml타입)
## xmltodict.parse() xml문서를 파이썬 dictionary 타입 변환
## json.dumps() dictionary를 json타입으로 변환
dictTemp = xmltodict.parse(res.text)

In [42]:
dictTemp['response']['header']['resultCode'] # 0000 = ok

'0000'

In [40]:
# 딕셔너리 키를 추가해서[]에 추가해서 원하는 데이터
dictTemp['response']['body']['items']['item']

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
0,11,서울특별시,5,금요일,1,현지인(a),4603042.5,20231201
1,11,서울특별시,5,금요일,2,외지인(b),1448384.0,20231201
2,11,서울특별시,5,금요일,3,외국인(c),30583.54999999999,20231201
3,26,부산광역시,5,금요일,1,현지인(a),1583729.0,20231201
4,26,부산광역시,5,금요일,2,외지인(b),323697.5,20231201
5,26,부산광역시,5,금요일,3,외국인(c),8219.360000000004,20231201
6,27,대구광역시,5,금요일,1,현지인(a),1206880.5,20231201
7,27,대구광역시,5,금요일,2,외지인(b),238301.0,20231201
8,27,대구광역시,5,금요일,3,외국인(c),1004.25,20231201
9,28,인천광역시,5,금요일,1,현지인(a),1364107.5,20231201

In [65]:
# 필요한 값 추출
pd.DataFrame(dictTemp['response']['body']['items']['item'])

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
0,11,서울특별시,5,금요일,1,현지인(a),4603042.5,20231201
1,11,서울특별시,5,금요일,2,외지인(b),1448384.0,20231201
2,11,서울특별시,5,금요일,3,외국인(c),30583.54999999999,20231201
3,26,부산광역시,5,금요일,1,현지인(a),1583729.0,20231201
4,26,부산광역시,5,금요일,2,외지인(b),323697.5,20231201
5,26,부산광역시,5,금요일,3,외국인(c),8219.360000000004,20231201
6,27,대구광역시,5,금요일,1,현지인(a),1206880.5,20231201
7,27,대구광역시,5,금요일,2,외지인(b),238301.0,20231201
8,27,대구광역시,5,금요일,3,외국인(c),1004.25,20231201
9,28,인천광역시,5,금요일,1,현지인(a),1364107.5,20231201

##### 단일테스트 완료 / 함수로 생성
- getRequestUrl()
- getTouristDataService()
- 2023-12-01 ~ 2023-12-31 반복문 처리

In [43]:
# 웹으로 OpenAPI url 호출하는 함수
def getRequestUrl(url):
    try:
        res = requests.get(url,verify=False)
        if res.status_code == 200: # 요청결과 ok
            return res.text
    except Exception as e:
        print(f'getRequestURL() 호출 예외 : {e}')
        return None

In [44]:
# Open API 호출함수
def getTouristDataService(ymd):
    serviceKey = r'vB779XLk9sWsO1uItIGMpdEUEv%2ByFZo7Upbko4nFNThP3swetHCCnKxuTXruaG5Z4opYCu%2BXAXGEUepvwmtmWA%3D%3D'
    baseUrl = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?'
    parameter = 'numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&' +\
            f'serviceKey={serviceKey}&startYmd={ymd}&endYmd={ymd}'
    totalUrl = baseUrl + parameter

    result = getRequestUrl(totalUrl)
    if result == None:
        return None
    else:
        return result

In [46]:
# 실행테스트
data = getTouristDataService('20231202')

In [49]:
# xml을 딕셔너리로 형변환후 필요한 데이터까지만 추출
xmltodict.parse(data)['response']['body']['items']['item']

[{'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '4085018.0',
  'baseYmd': '20231202'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '1940487.5',
  'baseYmd': '20231202'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '31302.643199999977',
  'baseYmd': '20231202'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1479635.5',
  'baseYmd': '20231202'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '484620.5',
  'baseYmd': '20231202'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '8319.971599999999',
  'baseYmd': '20231202'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1137794.0',
  'baseYmd': '20231202'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '371346.5',
  'baseYmd': '20231202'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '968.3136999999996',
  'baseYmd': '20231202'},
 {'areaCode': '28',
  'areaNm': '인천광역시',
  'daywkDivCd': '6',
  'daywkDivNm': '토요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1284664.5',
  'baseYmd': '20231202'}]

In [3]:
## 추가 라이브러리 사용등록
from tqdm import tqdm
import time

In [4]:
# 반복문으로 처리
totalList = []
year = 2023
month = 12
for day in tqdm(range(1, 32)):
    reqYmd = f'{year}{month}{day:02d}'
    data = getTouristDataService(reqYmd)
    if xmltodict.parse(data)['response']['body']['items'] == None:   #해당날짜에 데이터 없을 수 있음
        resList = []
    else:
        resList = xmltodict.parse(data)['response']['body']['items']['item']
    totalList = totalList + resList

  0%|          | 0/31 [00:00<?, ?it/s]

NameError: name 'getTouristDataService' is not defined

In [5]:
len(totalList)

0

In [6]:
dfTourist = pd.DataFrame(totalList)

NameError: name 'pd' is not defined

In [ ]:
dfTourist.tail()

In [ ]:
dfTourist.info()

In [ ]:

dfTourist.to_excel('./data/Tourist_dataportal.xlsx')