## 머신러닝 실습

### 텍스트 마이닝

#### 개념

##### 텍스트 마이닝
- 비정형 텍스트데이터에서 패턴을 찾음. 의미가 있는 정보들을 추출하고 분석하는 기법
- 데이터 마이닝, 자연어 처리, 정보 검색 등의 분야가 결합된 분석기법 이용
- 프로세스 - 텍스트전처리 > 특성 벡터화 > 머신러닝 모델 구축,학습,평가
- 텍스트 전처리 - 토큰화, 불용어 제거, 표제어 추출, 형태소 분석..

##### 특성 벡터화/ 추출
- 컴퓨터는 글을 읽을 수 없음 -> 단어기반으로 특성 추출, 숫자형 벡터값으로 표현
- BoW, Word2ve 라이브러리(모듈) 존재

##### LDA
- 문서에 잠재되어있는 토픽을 추론하는 확률 모델 알고리즘
- pyLDAvis 시각화 라이브러리 사용

#### 데이터 수집
- https://github.com/e9t/nsmc
- rating.txt, ratings_train.txt, ratings_test.txt 다운로드
- id(리뷰번호),document(리뷰),label(감성분류클래스 0은 부정,1은 긍정 감성)

In [63]:
## 필요라이브러리 사용등록
import pandas as pd
import re

In [64]:
pd.__version__

'2.2.1'

In [65]:
## 버전 상세정보
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : bdc79c146c2e32f2cab629be240f01658cfb6cc2
python                : 3.12.2.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.19045
machine               : AMD64
processor             : Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : Korean_Korea.949

pandas                : 2.2.1
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 69.1.1
pip                   : 24.0
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.1.0
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.3
IPython               : 8.22.2
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : 3.8.3
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.2
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.12.0
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None

In [66]:
## 훈련용 데이터 가져오기
dfNsmcTrain = pd.read_csv('./data/ratings_train.txt', engine='python', sep='\t', encoding='utf-8')

In [67]:
dfNsmcTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [68]:
dfNsmcTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [69]:
dfNsmcTrain[dfNsmcTrain['document'].isnull()]

             id document  label
25857   2172111      NaN      1
55737   6369843      NaN      1
110014  1034280      NaN      0
126782  5942978      NaN      0
140721  1034283      NaN      0

In [70]:
## 결측치 확인
dfNsmcTrain = dfNsmcTrain[dfNsmcTrain['document'].notnull()]

In [71]:
dfNsmcTrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [72]:
dfNsmcTrain['label'].value_counts()

label
0    75170
1    74825
Name: count, dtype: int64

In [73]:
## Regular Expressin(정규식)으로 한글 이외의 문제는 다 공백으로 변경
dfNsmcTrain['document'] = dfNsmcTrain['document'].apply(lambda x: re.sub(r'[^ 가-힣|ㄱ-]+', '',x) )

In [74]:
dfNsmcTrain.tail()

             id                       document  label
149995  6222902                인간이 문제지 소는 뭔죄인가      0
149996  8549745                     평점이 너무 낮아서      1
149997  9311800  이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다      0
149998  2376369     청춘 영화의 최고봉방황과 우울했던 날들의 자화상      1
149999  9619869       한국 영화 최초로 수간하는 내용이 담긴 영화      0

In [75]:
## 평가용 데이터 준비
dfNsmcTest = pd.read_csv('./data/ratings_test.txt', engine='python', sep='\t', encoding='utf-8')

In [76]:
dfNsmcTest.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [77]:
dfNsmcTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [78]:
dfNsmcTest[dfNsmcTest['document'].isnull()]

            id document  label
5746    402110      NaN      1
7899   5026896      NaN      0
27097   511097      NaN      1

In [79]:
dfNsmcTest[dfNsmcTest['document'].isnull()]

            id document  label
5746    402110      NaN      1
7899   5026896      NaN      0
27097   511097      NaN      1

In [80]:
dfNsmcTest = dfNsmcTest[dfNsmcTest['document'].notnull()]

In [81]:
dfNsmcTest['label'].value_counts()

label
1    25171
0    24826
Name: count, dtype: int64

In [82]:
## Regular Expressin(정규식)으로 한글 이외의 문제는 다 공백으로 변경
dfNsmcTrain['document'] = dfNsmcTrain['document'].apply(lambda x: re.sub(r'[^ 가-힣|ㄱ-]+', '',x) )

In [83]:
## 한글 이외의 텍스트 삭제 후 document가 비어있는 ' '데이터를 제거
dfNsmcTrain = dfNsmcTrain[dfNsmcTrain['document'] != ' ']

In [84]:
dfNsmcTrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149885 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149885 non-null  int64
 1   document  149885 non-null  object
 2   label     149885 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [85]:
## 한글 이외의 텍스트 삭제 후 document가 비어있는 ' ' 데이터가 554개 존재
dfNsmcTest = dfNsmcTest[dfNsmcTest['document'] != '']

In [86]:
dfNsmcTest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49997 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49997 non-null  int64
 1   document  49997 non-null  object
 2   label     49997 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

##### 분석모델 구축

- 이전, 특징 벡터화 작업, 단어로 분리(토큰화) 후 TF-IDF 방식으로 벡터화
- 한글 형태소 분석은 konlpy 패키의 Okt 클래스 사용

##### KoNLPy 라이브러리 설치
- JDK 설치
- 시스템등록정보 JAVA_HOME 설정
    - 프로그램 실행 : sysdm.cpl
    - 시스템속성 > 고급탭 > 환경변수 버튼 클릭
    - 시스템 변수 > 새로 만들기 버튼 클릭
    - JAVA_HOME 과 경로 추가 등록

- JPype1 - 파이썬에서 JDK를 사용하게 해주는 프로그램

In [87]:
# Jpype1 설치
!pip install JPype1

Requirement already satisfied: JPype1 in c:\dev\python312\lib\site-packages (1.5.0)
Requirement already satisfied: packaging in c:\dev\python312\lib\site-packages (from JPype1) (23.2)

In [88]:
# koNLPy 설치
!pip install koNLPy

Requirement already satisfied: koNLPy in c:\dev\python312\lib\site-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in c:\dev\python312\lib\site-packages (from koNLPy) (1.5.0)
Requirement already satisfied: lxml>=4.1.0 in c:\dev\python312\lib\site-packages (from koNLPy) (5.1.0)
Requirement already satisfied: numpy>=1.6 in c:\dev\python312\lib\site-packages (from koNLPy) (1.26.4)
Requirement already satisfied: packaging in c:\dev\python312\lib\site-packages (from JPype1>=0.7.0->koNLPy) (23.2)

In [89]:
import konlpy

In [90]:
konlpy.__version__

'0.6.0'

In [91]:
## 특성 벡터화 작업
from konlpy.tag import Okt
from sklearn.feature_extraction.text import TfidfVectorizer

In [92]:
okt = Okt()

In [97]:
def oktTokenizer(text):
    tokens = okt.morphs(text)
    return tokens

In [98]:
tfidf =  TfidfVectorizer(tokenizer=oktTokenizer, ngram_range=(1,2),min_df=3, max_df=0.9)

In [ ]:
with open('result.npy', 'wb') as f:
np.save(f, nsmc_train_tfisf)

In [99]:
tfidf.fit(dfNsmcTrain['document'])
nsmc_train_tfidf = tfidf.transform(dfNsmcTrain['document'])